.part-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 100px;
}

.right-header {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
    display: flex;
    gap : 18px;
}

ul, a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 18px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 40px 100px;
    margin-bottom: 38px;
    flex: 1;
}

.yarn {
    width: 545px;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 0;
    padding: 0;
}

.crochet-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    gap: 18px;
}

h1 { 
    color: #f9faf8;
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

p {
    color: #e5e7eb;
    font-size: 20px;
}

.sign-up {
    font-size: 26px;
    padding: 12px 36px;
    font-weight: bolder;
    border-radius: 8px;
    background-color: #3882f6;
    text-align: center;
    color: #f9faf8;
    border-style: none;
}

h2 {
    text-align: center;
    font-size: 38px;
    margin: 18px;
}

.part-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 140px;
    gap: 18px;
    flex: 1;
}

.project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-image {
    border-radius: 30px;
    border: 6px solid #3882f6;
    align-self: center;
    width: 250px;
    height: auto;
    max-width: 100%;
}

.description {
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 18px;
    padding: 12px;
}

.part-three {
    background-color: #e5e7eb;
    text-align: center;
    padding: 55px;
    font-size: 40px;
}

.quote {
    font-style: italic;
    color: #rgb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 70px 140px;
    gap: 24px;
}

.credit {
    font-size: 25px;
    text-align: right;
    color: black;
    font-weight: bold;
}