.part-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 100px;
}

h1 { 
    color: #f9faf8;
    font-size: 65px;
    font-weight: 900;
}

.right-header {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
    display: flex;
    gap : 18px;
}

ul, a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 18px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 24px 100px;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 0;
    padding: 0;
}

.crochet-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}